.faq-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.faqs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faq-title {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(135deg, #777373 20%, #fff 80%);
  background-clip: text;
  color: transparent;
  font-size: 40px;
}
.faqs-cards {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.faq-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}
.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-card:hover .questions .faq-icon {
  display: none;
}

.question {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.faq-icon {
  color: #aaa;
  font-size: 35px;
}
.answer {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

@media screen and (max-width:1000px) {
  .faq-title{
    font-size: 35px;
  }
  .faqs-cards{
    width: 60%;
  }
  .question{
    font-size: 28px;
  }
}
@media screen and (max-width:800px) {
  .faq-title{
    font-size: 30px;
  }
  .faqs-cards{
    width: 80%;
  }
  .question{
    font-size: 25px;
  }
  .faq-icon{
    font-size: 30px;
  }
  .answer{
    font-size: 18px;
  }
}
@media screen and (max-width:600px) {
  .faqs{
    gap: 20px;
  }
  .faq-title{
    font-size: 20px;
  }
  .faqs-cards{
    margin-top: 20px;
    width: 90%;
  }
  .question{
    font-size: 20px;
  }
  .faq-icon{
    font-size: 25px;
  }
}
@media screen and (max-width:450px) {
  .question{
    font-size: 15px;
  }
  .answer{
    font-size: 12px;
  }
  .faq-title{
    font-size: 18px;
  }
}
@media screen and (max-width:350px) {
  .question{
    font-size: 12px;
  }
  .answer{
    letter-spacing: 1px;
  }
}
