.tolov-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  height: 100vh;
  background: linear-gradient(90deg, rgb(36, 38, 51), rgb(44, 45, 45));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tolov-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.tolov-kartalar-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(36, 38, 51, 0.4),
    rgba(44, 45, 45, 0.3)
  );
  border-radius: 10px;
}

.kartalar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.karta-raqam {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(135deg, #2ecc71, #3498db);
  background-clip: text;
  color: transparent;
  transform: scale(1.5);
}

.kartaraqam-ism {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.admin-kartalar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(36, 38, 51, 0.4),
    rgba(44, 45, 45, 0.3)
  );
  border-radius: 10px;
}

.admin-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.admin-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #f39c12;
  padding: 15px 45px;
  border-radius: 10px;
  text-transform: uppercase;
}
.limsa{
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .karta-raqam {
    font-size: 35px;
  }
  .kartaraqam-ism {
    font-size: 18px;
  }
  .admin-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .tolov-kartalar-card {
    width: 90%;
    margin: 0 auto;
  }
  .admin-kartalar{
    width: 90%;
    margin: 0 auto;
  }
  .admin-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:700px) {
  .karta-raqam{
    font-size: 25px;
  }
  .kartaraqam-ism{
    font-size: 16px;
  }
  .admin-text{
    font-size: 15px;
  }
  .admin-btn{
    padding: 15px 35px;
  }
}

@media screen and (max-width:500px) {
  .karta-raqam{
    font-size: 20px;
  }
  .kartaraqam-ism{
    font-size: 12px;
  }
  .admin-text{
    font-size: 12px;
    line-height: 1.5;
  }
  .admin-btn{
    font-size: 12px;
  }
}

@media screen and (max-width:400px) {
  .admin-text{
    font-size: 10px;
  }
}
