.service-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.service {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.service-cards {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  padding: 0 20px;
}
.service-card {
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(90deg, rgb(36, 38, 51), rgb(44, 45, 45));
}
.muallif-section {
  padding: 20px;
}
.muallif {
  display: flex;
  gap: 20px;
  align-items: center;
}
.service-title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(90deg, #b8b4b4 20%, #fff 80%);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.ser-muallif {
  font-size: 1.6rem;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  background: linear-gradient(135deg, #777373, #fff);
}
.service-kasb {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.ser-hr {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ser-loyiha {
  color: #ecd905;
  font-size: 25px;
}
.hrs {
  width: 100%;
  background: #ecd905;
  border: none;
  height: 2px;
}
.ustozlar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-content: flex-start;
}
.ustozlar .ustoz {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ustoz .ustoz-img {
  width: 80px;
  height: 80px;
}
.ustoz .ustoz-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.ustoz-text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.loyihatext {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.imgcard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0.8;
}
.service-items{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 20px;
}
.service-item{
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.service-icon{
    color: #ecd905;
    font-size: 25px;
}

/* responsive start */
@media screen and (max-width:1200px) {
  .service-card{
    max-width: 500px;
  }
  .service-title{
    font-size: 2.5rem;
  }
  .ser-muallif{
    font-size: 1.4rem;
  }
  .ustoz .ustoz-img{
    /* width: 70px; */
    height: 70px;
  }
  .ustoz-text{
    font-size: 16px;
  }
  .loyihatext{
    font-size: 25px;
  }
  .service-item{
    font-size: 18px;
  }
}
@media screen and (max-width:1000px) {
  .service-cards{
    gap: 30px;
  }
  .service-card{
    max-width: 450px;
  }
  .service-title{
    font-size: 2.2rem;
  }
  .ser-muallif{
    font-size: 1.2rem;
  }
  .service-kasb{
    font-size: 1.1rem;
  }
  .ser-loyiha{
    font-size: 20px;
  }
  .ustoz .ustoz-img{
    width: 70px;
    height: 60px;
  }
  .ustoz-text{
    font-size: 14px;
  }
  .loyihatext{
    font-size: 22px;
  }
}

@media screen and (max-width:800px) {
  .service-cards{
    flex-direction: column;
  }
  .service-card{
    max-width: 600px;
  }
}
@media screen and (max-width:650px) {
  .service-card{
    max-width: 500px;
  }
}

@media screen and (max-width:550px) {
  .service{
    padding: 0;
  }
  .service-card{
   max-width: 400px;
    min-height: 600px;
  }
  .service-title{
    font-size: 2rem;
  }
  .ser-muallif{
    font-size: 0.9rem;
  }
  .ustoz .ustoz-img{
    width: 60px;
    height: 50px;
  }
  .service-kasb{
    font-size: 15px;
  }
  .service-item{
    font-size: 15px;
  }
  .service-icon{
    font-size: 20px;
  }
}
@media screen and (max-width:450px) {
  .service-card{
    max-width: 380px;
    border-radius: 10px;
    min-height: 450px;
  }
  .service-title{
    font-size: 1.5rem;
  }
  .ser-muallif{
    font-size: 0.6rem;
  }
  .ustoz-text{
    font-size: 12px;
  }
  .service-kasb{
    font-size: 12px;
  }
  .imgcard{
    border-radius: 10px;
  }
  .service-items{
    margin-left: 30px;
  }
}

@media screen and (max-width:400px) {
  .service-cards{
    padding: 0;
  }
  .service-card{
    max-width: 300px;
    min-height: 400px;
  }
  .service-title{
    font-size: 1.2rem;
  }
  .ser-muallif{
    font-size: 0.5rem;
  }
  .service-kasb,.ustoz-text{
    font-size: 10px;
  }
  .loyihatext{
    font-size: 18px;
  }
  .ustozlar{
    gap: 20px;
  }
  .ustoz .ustoz-img{
    width: 40px;
    height: 40px;
  }
  .service-items{
    margin-left: 20px;
  }
  .service-icon{
    font-size: 15px;
  }
  .service-item{
    font-size: 12px;
  }
}
